
<div class="ui-grid">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <main-menubar></main-menubar>
        </div>
    </div>
    <p-fieldset legend="Suche">
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Postleitzahl:
        </div>
        <div class="ui-grid-col-3">
          <input type="text" pInputText />
        </div>
        <div class="ui-grid-col-1">
          <p-radioButton name="groupname" value="val1" [(ngModel)]="selectedSearch"></p-radioButton>
        </div>
        <div class="ui-grid-col-3">
          Gebäude über Strassen
        </div>
        <div class="ui-grid-col-3">
          <button pButton type="button" label="Suchen"></button>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Ortschaft:
        </div>
        <div class="ui-grid-col-3">
          <input type="text" pInputText />
        </div>
        <div class="ui-grid-col-1">
          <p-radioButton name="groupname" value="val2" [(ngModel)]="selectedSearch"></p-radioButton>
        </div>
        <div class="ui-grid-col-3">
          Gebäude über Gebiete
        </div>
        <div class="ui-grid-col-3">
          <button pButton type="button" label="Neue Suche"></button>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Strasse:
        </div>
        <div class="ui-grid-col-3">
          <input type="text" pInputText />
        </div>
        <div class="ui-grid-col-1">
          <p-radioButton name="groupname" value="val3" [(ngModel)]="selectedSearch"></p-radioButton>
        </div>
        <div class="ui-grid-col-3">
          Gebäude über Hausname
        </div>
        <div class="ui-grid-col-3">
          <button pButton type="button" label="Hilfe..."></button>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Soundex verwenden:
        </div>
        <div class="ui-grid-col-3">
          <p-checkbox [(ngModel)]="value"></p-checkbox>
        </div>
        <div class="ui-grid-col-1">
          <p-radioButton name="groupname" value="val4" [(ngModel)]="selectedSearch"></p-radioButton>
        </div>
        <div class="ui-grid-col-3">
          Postfach
        </div>
        <div class="ui-grid-col-3">
        </div>
    </div>
    </p-fieldset>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <p-tabView>
            <p-tabPanel header="Ortschaften">
              <p-dataTable [value]="cars" resizableColumns="true" [editable]="true" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [responsive]="true" scrollable="true"  scrollHeight="600">
                <p-column *ngFor="#col of cols" [field]="col.field" [header]="col.header" sortable="true" [editable]="true"></p-column>
              </p-dataTable>
            </p-tabPanel>
            <p-tabPanel header="Postleitzahlen">
              <p-dataTable [value]="cars" resizableColumns="true" [editable]="true" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [responsive]="true" scrollable="true"  scrollHeight="600">
                <p-column *ngFor="#col of cols" [field]="col.field" [header]="col.header" sortable="true" [editable]="true"></p-column>
              </p-dataTable>
            </p-tabPanel>
            <p-tabPanel header="Strassen">
              <div class="ui-grid">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2">
                    PLZ:
                  </div>
                  <div class="ui-grid-col-8">
                    <button pButton type="button" label="Einfügen..." [disabled]="true"></button>
                    <button pButton type="button" label="Mutieren..." [disabled]="true"></button>
                    <button pButton type="button" label="Löschen..." [disabled]="true"></button>
                  </div>
                  <div class="ui-grid-col-2">
                    <button pButton type="button" label="Bemerkung..." [disabled]="true"></button>
                  </div>
                </div>
                <br />
                <div class="ui-grid-row">
                  <div class="ui-grid-col-12">
                    <p-dataTable [value]="cars" resizableColumns="true" [editable]="true" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [responsive]="true" scrollable="true"  scrollHeight="600">
                      <p-column *ngFor="#col of cols" [field]="col.field" [header]="col.header" sortable="true" [editable]="true"></p-column>
                    </p-dataTable>
                  </div>
                </div>
                <br />
                <div class="ui-grid-row" style="padding-bottom: 10px;">
                  <div class="ui-grid-col-6"></div>
                  <div class="ui-grid-col-6">
                    <button pButton type="button" label="Einfügen..." [disabled]="true"></button>
                    <button pButton type="button" label="Mutieren..." [disabled]="true"></button>
                    <button pButton type="button" label="Löschen..." [disabled]="true"></button>
                  </div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-6">
                      <p-fieldset legend="Details">
                      </p-fieldset>
                  </div>
                  <div class="ui-grid-col-6">
                    <p-dataTable [value]="cars" resizableColumns="true" [editable]="true" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [responsive]="true" scrollable="true"  scrollHeight="600">
                      <p-column *ngFor="#col of cols" [field]="col.field" [header]="col.header" sortable="true" [editable]="true"></p-column>
                    </p-dataTable>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Gebäude">
              <p-dataTable [value]="cars" resizableColumns="true" [editable]="true" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [responsive]="true" scrollable="true"  scrollHeight="600">
                <p-column *ngFor="#col of cols" [field]="col.field" [header]="col.header" sortable="true" [editable]="true"></p-column>
              </p-dataTable>
            </p-tabPanel>
        </p-tabView>
      </div>
    </div>
</div>
